:root {
  /* Colors Of The Page */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* Font Of The Page */
  --font-size: 15px;
  --font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;

  background-color: var(--light-grey);

  font-family: var(--font-family);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 24.5%;
  height: auto;

  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  padding: 10px;
  padding-top: 20px;

  border-radius: 20px;

  text-align: center;
}

.qr-code-img {
  width: 94%;

  border-radius: 20px;

  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;

  margin-right: 25px;
  margin-left: 25px;
}

p {
  font-size: 1.4rem;

  margin-right: 25px;
  margin-left: 25px;

  color: var(--grayish-blue);
}
